In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
from dataframepreprocessor import DataFramePreprocessor

In [45]:
df = pd.read_csv('../data/WA_Fn-UseC_-Telco-Customer-Churn.csv')

DataFramePreprocessor.trim_wsp_util(df, inplace=True)
no_int_colms = ['OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
                'TechSupport', 'StreamingTV', 'StreamingMovies']

for c in no_int_colms:
	df[c].replace(to_replace='No internet service', value='No', inplace=True)
df['MultipleLines'].replace(to_replace='No phone service', value='No', inplace=True)

yes_no_colms = ['Partner', 'Dependents', 'PhoneService', 'MultipleLines'] \
	               + no_int_colms + ['PaperlessBilling', 'Churn']

mult_val_colms = ['InternetService', 'Contract', 'PaymentMethod']

num_colms = ['TotalCharges']

df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.3,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.7,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.8,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.2,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.6,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.4,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [66]:
pr = DataFramePreprocessor(df_train=df)

df_2=df.copy()
df_2.drop(columns=['customerID'], inplace=True)
df_2=pr.preprocess(df_2, 
                drop_colms=['customerID'], 
                mul_cat_colms=mult_val_colms, 
                num_colms=num_colms, 
                target_colm='Churn', 
                bin_cat_colms=yes_no_colms + ['gender'], 
                bin_replace_map=[{'Yes':1, 'No':0}]*len(yes_no_colms) + [{'Male':1, 'Female':0}])
df_2.head()
# df_2.drop(columns=[], inplace=True, errors='ignore')

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_DSL,InternetService_Fiber optic,InternetService_No,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,1,0,0,0,1,0,...,1,0,0,1,0,0,0,0,1,0
1,1,0,0,0,34,1,0,1,0,1,...,1,0,0,0,1,0,0,0,0,1
2,1,0,0,0,2,1,0,1,1,0,...,1,0,0,1,0,0,0,0,0,1
3,1,0,0,0,45,0,0,1,0,1,...,1,0,0,0,1,0,1,0,0,0
4,0,0,0,0,2,1,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0

In [93]:
df = pd.read_csv('../data/adult/adult.data', header=None)
df_test = pd.read_csv('../data/adult/adult.test', skiprows=1, header=None)
column_labels = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation',
                 'relationship', 'race', 'sex', 'capital - gain', 'capital - loss', 'hours - per - week',
                 'native - country', 'salary']

numeric_colms = ['age', 'fnlwgt', 'education-num', 'capital - gain', 'capital - loss', 'hours - per - week']
yes_no_colms = ['sex', 'salary']
yes_no_map=[{'Male':1, 'Female':0}, {'>50K': 1, '<=50K': 0}]
cat_colms = [cat for cat in column_labels[:-1] if cat not in numeric_colms]
cat_colms = [cat for cat in cat_colms if cat not in yes_no_colms]
df.columns=column_labels
df_test.columns=column_labels
# df.columns=df_test.columns=column_labels
df_test['salary'].replace({'>50K.': '>50K', '<=50K.': '<=50K'}, inplace=True)
# df

In [107]:
pr = DataFramePreprocessor(df_train=df)

df_=pr.preprocess_train(df.copy(), 
                        bin_cat_colms=yes_no_colms,
                        bin_replace_map=yes_no_map,
                        num_colms=numeric_colms,
                        mul_cat_colms=cat_colms,
                        num_na_symbol='?')
# df_test_=pr.preprocess_test(df_test)
df_test_=pr.preprocess_test(df_test.copy(), 
                        bin_cat_colms=yes_no_colms,
                        bin_replace_map=yes_no_map,
                        num_colms=numeric_colms,
                        mul_cat_colms=cat_colms,
                        num_na_symbol='?')
# df['sex'] = df['sex'].replace({'Male': 1, 'Female': 0})
# df_.head(5)
df_test_.head(5)

,age,capital - gain,capital - loss,education-num,education_10th,education_11th,education_12th,education_1st-4th,education_5th-6th,education_7th-8th,...,sex,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
0,25,0,0,7,0,1,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
1,38,0,0,9,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
2,28,0,0,12,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
3,44,7688,0,10,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
4,18,0,0,10,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [109]:
df = pd.read_csv('../data/creditcard.csv')

pr = DataFramePreprocessor(df_train=df)

pr.preprocess(df,num_colms=df.columns[1:], drop_colms=['Time'])

df.head(5)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0